.btn-pink {
    background: pink;
    border-color: #e83e8c !important;
}

.link-pink{ color: black; text-decoration: none !important; } 

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;

}

body {
  background: #EFE1E6;
}